<!DOCTYPE html>
<html style="position:relative; min-height:100%;">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="I'm Erik Yang, a software engineer studying at UC Berkeley.">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--Favicon-->
	<!--Credit:https://realfavicongenerator.net/-->
	<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png?v=0">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png?v=0">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png?v=0">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png?v=0">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png?v=0">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png?v=0">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png?v=0">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png?v=0">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png?v=0">
	<link rel="icon" type="image/png" href="/favicons/favicon-32x32.png?v=0" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png?v=0" sizes="192x192">
	<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png?v=0" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicons/favicon-16x16.png?v=0" sizes="16x16">
	<link rel="manifest" href="/favicons/manifest.json?v=0">
	<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg?v=0" color="#dc143c">
	<link rel="shortcut icon" href="/favicons/favicon.ico?v=0">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png?v=0">
	<meta name="msapplication-config" content="/favicons/browserconfig.xml?v=0">
	<meta name="theme-color" content="#ffffff">

	<!--Fonts-->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">

	<!--Style-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<style>
		textarea:focus, input:focus { 
		    outline: 2px solid #999999 !important;
		    box-shadow: 0 0 10px #BBBBBB;
		}
	</style>

	<!--Javascript-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="index.js"></script>

	<title>
		😂 E M O J I 😂
	</title>
</head>

<body style="font-family: Montserrat; font-weight: 400; margin-bottom:400px;">
	<div style="margin-top:20vh;"></div>
	<h1 style="text-align: center; font-weight:700">Convert text to emojipasta.</h1>

	<div ng-app="shitpost" ng-cloak>
	    <div class="container" ng-controller="mainController">
	        <div class="row">
	            <textarea class="col-md-6 col-sm-12 col-xs-12" id="textinput" placeholder="Enter Text" ng-model="input" data-ng-trim="false" style="font-size:25px;font-family:Montserrat;vertical-align:top;padding:0;margin:0;height:30vh;overflow:hidden;background-color:#EEEEEE;border:3px solid #CCCCCC;resize:none;padding:8px 10px;box-sizing: border-box;"></textarea>
	            <div class="col-md-6 col-sm-12 col-xs-12" style="font-size:25px;border:none;vertical-align:top;min-height:30vh;background-color:#DDDDDD;padding:8px 10px;box-sizing: border-box;white-space:pre-wrap;word-wrap:break-word;"><span ng-if="!input" style="color:#999999">Converted Emojipasta</span>{{convertToEmojipasta(input)}}</div>
	        </div>
	    </div>
	</div>

	<footer class="footer" style="position:absolute; bottom:0; width:100%; padding:20px 0px 10px 0px; background-color: #DDDDDD; border-top:2px solid crimson;">
		<div class="container" style="font-size:16px;">
			<p>Created by <a href="http://erikyangs.github.io/" target="_blank">Erik Yang.</a> Special thanks to <a href="https://www.linkedin.com/in/lhsiung" target="_blank">Lawrence Hsiung</a> for additional emoji mappings.</p>
			<p>Made possible by <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>, <a href="https://jquery.com/" target="_blank">JQuery</a>, <a href="https://angularjs.org/" target="_blank">AngularJS</a>, and <a href="https://github.com/muan/emojilib" target="_blank">emojilib.</a></p>
			<p><a href="https://github.com/erikyangs/emojipastagenerator" target="_blank">Github Repo</a></p>
		</div>
	</footer>

	<!-- only used for debugging -->
	<span id="json"></span>
	<!-- only used for debugging -->

	<!-- Todo:
	Copy result text
	Conflicts with personal phrases with same first word
	 -->
</body>
</html>
